<h1>Listing statuts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statuts.each do |statut| %>
      <tr>
        <td><%= statut.name %></td>
        <td><%= statut.content %></td>
        <td><%= link_to 'Show', statut %></td>
        <td><%= link_to 'Edit', edit_statut_path(statut) %></td>
        <td><%= link_to 'Destroy', statut, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Statut', new_statut_path %>
